awscli==1.16.8
certifi==2019.3.9
Django==2.1.5
django-crispy-forms==1.7.2
google-pasta==0.1.6
h5py==2.8.0
jmespath==0.9.3
opencv-contrib-python==4.1.0.25
Pillow==8.2.0
pyasn1==0.4.4
pytz==2019.1
rsa==3.4.2
s3transfer==0.1.13
tensorflow-estimator-2.0-preview==1.14.0.dev2019051000
wincertstore==0.2
wrapt==1.11.1
