{% extends 'dateapp/components/_base.html' %}

{% block sidebar %}
<ul class="sidebar navbar-nav">
    <div style = "margin-left: 30px; margin-bottom:10px; margin-top:10px; font-size: 18px;">
        <최신 데이트 스팟>
    </div>   

    {% for names in spots %}
        {% if names.id|add:4 > spots|length %}
            <li>
                <div class="spot-card" onclick="javascript:window.location.href='{{ names.get_absolute_url }}'">
                    <div class="spot-thumbnail" style="background-image: url('{{ names.picture.url }}')"></div>
                        <div class="spot-overview">
                            <table>
                                <tr>
                                    <td>
                                        <span class="spot-name">{{ names.name }}</span><br>
                                    </td>
                                </tr>
                            </table>
                        </div>
                </div>
            </li>
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}

{% block content %}
    <div class ="row">
        <div class="col-md-1"></div>
        <div clsas="col-md-9 panel panel-default">
            <div class ="col-md-6">
                <p><img src ="{{object.picture.url}}"></p>
            </div>
            <div class = "col-md-9">
                <h1>{{object.name}}</h1>
            </div>
            <div class = "col-md-8 panel panel-default">
                <p>{{object.description}}</p>
            </div>

        </div>        
    </div> 
    <div class="row">
        <div class= "col-md-1"></div>
        <div class="col-md-9" panel panel-default>
            {% load disqus_tags %}
            {% disqus_show_comments %}
        </div>
    </div>
        
{% endblock %}

