{% extends 'dateapp/components/_base.html' %}

{% block sidebar %}
{% endblock %}

{% block content-0 %}
    <div class="jumbotron" style="width: 80%;margin: 20px auto;padding-left: 50px;padding-right: 50px;">
        <h1><b>우리 오늘 어디 갈까?</b></h1>
        <p><b>데이트 할 때는? 데이트로드!</b></p>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="데이트 장소 검색하기">
            <span class="input-group-btn">
                        <button class="btn btn-info" type="button">검색</button>
                    </span>
        </div><!-- /input-group -->
        <br>
        <button class="btn btn-primary" onclick="window.location.href='{% url 'index' %}'" type="button">데이트 장소 전체 보기
        </button>
        <p>
            {% if not request.user.is_authenticated %}
                <p>지금 바로 가입해 더 많은 기능을 누려보세요.</p>
                <a class="btn btn-primary btn-lg" href="{% url 'register' %}" role="button">가입하기</a>
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">로그인</a>
            {% endif %}
        </p>
    </div>
    <div class="container">
        <div class="row">

        </div>
        <p class="h3-bold">오늘의 추천 데이트 코스</p>
        <div class="row">
            <div class="col-md-12">
                {% for spot in spots %}
                    {% include 'dateapp/components/_spot_card.html' with spot=spot %}
                {% endfor %}
                <div class="card-info">
                    <div class="card-info-label">
                        <i class="fas fa-arrow-circle-right"></i><br>
                        오늘의 추천 <br>
                        데이트 코스 더보기
                    </div>
                </div>

            </div>
        </div>
        <p class="h3-bold">관심장소 주변 데이트 코스</p>
        <div class="row">
            <div class="col-md-12">
                {% for spot in spots %}
                    {% include 'dateapp/components/_spot_card.html' with spot=spot %}
                {% endfor %}

                <div class="card-info">
                    <div class="card-info-label">
                        <i class="fas fa-arrow-circle-right"></i><br>
                        관심장소 주변 <br>
                        데이트 코스 더보기
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}